select {
    border-radius: 9px;

    height: 3em;
    width: 100%;
    padding-left: 1em;
    font-size: 1em;

    border-width: 3px;
    border-color: var(--color-four);

    background: var(--color-two);
    color: var(--color-five);
}

select option{
    background: var(--color-one);
    color: var(--color-five);
    border : none;
    height: 3em;
}

.filter-container{
    justify-content: space-around;
    margin-bottom: 2em;
}

.filter-container > div {
    flex-grow: 0.2;
    padding: 0.8em;
    padding-inline: 1.5em;
}

.dateFilter, .dateFilter div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dateFilter input{
    background: var(--color-two);
    height: 3em;
    border-radius: 9px;
    border: 3px solid;
    text-transform: uppercase;
}

.dateFilter label{
    width: -webkit-fill-available;
    font-weight: bold;
}

.campus-select-container{
    display: flex;
    align-items: center;
}

.search-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.search-container input{
    border : solid;
    border-color: var(--color-four);
    border-width: 3px;
    border-radius: 9px;
    height: 3em;
    padding-left: 1em;
    background: var(--color-two);
}

.search-container button{
    border-radius: 9px;
    border: none;
    height: 3em;
    font-weight: bold;
    background: var(--color-five);
    color: var(--color-three);
}

.checkbox-container div {
    display: flex;
    justify-content: space-between;
}

.checkbox-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-weight: bold;
}


.activity-card{
    margin-bottom: 2em;
    margin-inline: auto;
    max-width: 85%;
    border-radius: 9px;
    overflow: hidden;
    flex-wrap: nowrap;
}
.activity-img-container{
    height: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity-info-summary-container{
    background: var(--color-four);
    color: var(--color-one);
}

.activity-info-summary-container h3{
    color: var(--color-three);
    text-align: center;
}
.activity-main-container{
    background: var(--color-one);
}

.action-btn{
    border-radius: 9px;
    border: none;
    font-weight: bold;
    background: inherit;
    color: var(--color-three);
}
.action-btn:hover{
    cursor: pointer;
}

.action-container{
    display: flex;
}

