{% extends 'base.html.twig' %}

{% block title %}Modification Campus{% endblock %}

{% block body %}
    <h1>Modification Campus</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Campus</th>
            <th scope="col">Actions</th>


        </tr>
        </thead>
        <tbody>



        <tr>
            <th scope="row">{{ campus.id }}</th>
            {{ form_start(campusForm) }}


            <td>{{ form_widget(campusForm.name) }} </td>


            <td><button type="submit" class="btn btn-primary">Enregistrer</button></td>

            {{ form_end(campusForm) }}

        </tr>

        </tbody>
    </table>

{% endblock %}
