{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <a href="{{ path('app_campus') }}">Campus</a>
    <a href="{{ path('app_admin_users') }}">Utilisateurs</a>
    <a href="{{ path('app_city') }}">Villes</a>
{% endblock %}
