{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {{ activity.name }}{% endblock %}

{% block body %}
    {% include('activity/include/display_activity.html.twig') %}
    <form action="{{ path('activity_entry', {'id': activity.id}) }}" method="POST" >
        <button type="submit">S'inscrire</button>
    </form>
{% endblock %}


